<div class="event">
  <div class="label">
    <img src="<%= image_path 'default_avatar.png' %>">
  </div>
  <div class="content">
    <div class="summary">
      <a class="user">
        <%= message.user.username %>
      </a>
      <div class="date">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    </div>
    <div class="extra text">
      <%= message.body %>
    </div>
    <div class="meta">
      <a class="like">
        <i class="like icon"></i> 11 Likes
      </a>
    </div>
  </div>
</div>