<h2 class="ui center aligned icon header">
  <i class="circular inverted blue comment icon icon"></i>
  Say something to everyone!
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="label">
              <img src="#">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Elliot Fu
                </a>
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="extra text">
                I'm having a BBQ this weekend. Come by around 4pm if you can.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 11 Likes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Write a message...">
              <i class="bordered inverted blue edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
