@import 'semantic-ui';

.chatbox {
  height: 30rem;
}

.side-button {
  width: 50%;
}

.submit-button {
  font-size: 1rem !important;
}

.scrollable {
  display: flex;
  height: 15em;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

@media (max-width: 767px) {
  .ui.vertical.divider {
    display: none;
  }
}