<div class="ui basic modal" id="<%= modal_id %>">
  <div class="ui icon header">
    <i class="archive icon"></i>
    <%= header.html_safe %>
  </div>
  <div class="content">
    <%= content.html_safe %>
  </div>
  <div class="actions">
    <%= button.html_safe %>
  </div>
</div>