<% flash.each do |message_type, message_content| %>
  <% next if message_content.blank? %>
  <div class="ui <%= message_type == 'notice' ? 'success' : 'error' %> message transition">
    <i class="close icon"></i>
      <ul class="list">
        <% Array(message_content).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>

